apiVersion: apps/v1
kind: Deployment
metadata:
  name: constelink-file
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: constelink-file
  template:
    metadata:
      labels:
        app: constelink-file
    spec:
      containers:
      - name: constelink-file
        image: docker.io/sadoruin/constelink-file:6
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: constelink-file
  namespace: default
spec:
  selector:
    app: constelink-file
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP

